
<div class="profile-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="card-description">
      <div class="text-center">
      <h3>Edit your profile</h3>
      <%= cl_image_tag @profile.photo, class: "card avatar-large align-center" %>
      </div>
      <br>
      <br>
      <%= simple_form_for(@profile) do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :first_name %>
      <%= f.input :last_name  %>
      <%= f.input :description %>
      <%= f.input :date_of_birth, as: :date %>
      <%= f.input :phone_number %>
      <%= f.button :submit, class: "btn btn-danger" %>
      <% end %>
      </div>
    </div>
  </div>
</div>



