
<div class="profile-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="card">
      <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="card-description text-right">
          <h3>  <%= @profile.first_name %> <%= @profile.last_name %> </h3>
          <h5> About me: </h5>
          <p><%= @profile.description %></p>
          <h5>Date of birth:</h5>
          <p><%= @profile.date_of_birth %></p>
          <h5>Phone number:</h5>
          <p><%= @profile.phone_number %></p>
        </div>
      </div>
    </div>
  </div>
</div>

      <div class="profile-container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>Your listings</h3>
            <div class="card" style="background-image: url('http://i.yochicago.com/images/hpmain/012/298012.jpg') ">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="card-description">
              <h5>Beautiful apartment in Gracia</h5>
              <p>Barcelona | Spain</p>
            </div>
          </div>
        </div>
      </div>


<!-- <div class="profile-container">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <h3>Your trips</h3>
      <% @profile.user.bookings.each do |booking| %>
      <div class="card" style="background-image: url('http://i.yochicago.com/images/hpmain/012/298012.jpg')">
      </div>
      <div class="card-description">
        <h5> <%= booking.apartment.name %> </h5>
        <p><%= booking.start_date %> until <%= booking.end_date %> </p>
        <p>Price: €<%= booking.apartment.price %> </p>
        <p> <%= link_to 'Check details', apartment_booking_path(booking.apartment, booking), class: "btn btn-primary" %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>






<div class="container">
  <ul class="list-unstyled">
    <h1>Profile overview:</h1>
    <li><strong>First name: </strong><%= @profile.first_name %></li>
    <li><strong>Last name: </strong><%= @profile.last_name %></li>
    <li><strong>Description: </strong><%= @profile.description %></li>
    <li><strong>Date of birth: </strong><%= @profile.date_of_birth %></li>
    <li><strong>Phone number: </strong><%= @profile.phone_number %></li>
  </ul> -->








