<div class="container">
  <div class="row">
    <div class="profile col-xs-12 col-md-4">
      <img class="avatar-large align-center" src="https://pbs.twimg.com/profile_images/894945923372994561/JYtds_IE.jpg">
      <div class="card-description">
        <h3>  <%= @profile.first_name %> <%= @profile.last_name %> </h3>
        <h5> About me: </h5>
        <p><%= @profile.description %></p>
        <h5>Date of birth:</h5>
        <p><%= @profile.date_of_birth %></p>
        <h5>Phone number:</h5>
        <p><%= @profile.phone_number %></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class=" profile col-xs-12 col-md-4">
      <h3>Your trips</h3>
      <% @profile.user.bookings.each do |booking| %>
      <div class="card" style="background-image: url('http://i.yochicago.com/images/hpmain/012/298012.jpg')">
      </div>
      <div class="card-description">
        <h5> <%= booking.apartment.name %> </h5>
        <p><%= booking.start_date %> until <%= booking.end_date %> </p>
        <p>Price: €<%= booking.apartment.price %> </p>
        <p> <%= link_to 'Check details', apartment_booking_path(booking.apartment, booking), class: "btn btn-primary" %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class=" profile col-xs-12 col-md-4">
      <h3>Your listings</h3>
      <div class="card" style="background-image: url('http://i.yochicago.com/images/hpmain/012/298012.jpg')">
      </div>
      <div class="card-description">
        <h5>Beautiful apartment in Gracia</h5>
        <p>Barcelona | Spain</p>
      </div>
    </div>

  </div>
</div>







