
<div class="profile-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <h3>Your information</h3>
      <%= cl_image_tag @profile.photo, class: "card avatar-large  " %>

      <div class="card-description">
        <h4>  <%= @profile.first_name %> <%= @profile.last_name %> </h4>
        <h5> About me: </h5>
        <p><%= @profile.description %></p>
        <h5>Date of birth:</h5>
        <p><%= @profile.date_of_birth %></p>
        <h5>Phone number:</h5>
        <p><%= @profile.phone_number %></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-3 col-lg-3">
      <h3>Your listings</h3>
      <% @profile.user.apartments.each do |apartment| %>

      <%= link_to apartment_path(apartment) do %>

      <div class="card" style="background-image: url('<%= cl_image_path apartment.photo, height: 300, width: 400, crop: :fill if apartment.photo? %>')">
      </div>

      <div class="card-description">
        <h5><%= link_to apartment.name, apartment_path(apartment) %> | <%= apartment.city %></h5>
        <p><%= apartment.apartment_type %> | €<%= apartment.price %> | Beds:<%= apartment.number_of_beds %></p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


