<h3 class="text-center">Trips</h3>
<div class="booking-container">
  <div class="row">
   <div class="col-xs-12 col-md-4 col-lg-4">
    <% @bookings.each do |booking| %>

    <%= link_to apartment_path(booking.apartment) do %>


      <div class="card" style="background-image: url('<%= cl_image_path booking.apartment.photo, height: 300, width: 400, crop: :fill if booking.apartment.photo? %>')">
    </div>
        <% end %>

    <div class="card-description">
      <h5><%= booking.apartment.name %> in <%= booking.apartment.city%></h5>
      <h6><%= booking.start_date %> until <%= booking.end_date %></h6>
      <p> Number of nights: <%= (booking.end_date - booking.start_date).to_i %></p>
      <p> Total price: €<%= (booking.apartment.price * ((booking.end_date - booking.start_date).to_i))%></p>
      <h6>Status: <%= booking.status %></h6>
      <h6><%= link_to 'See booking', apartment_booking_path(booking.apartment, booking), class: "btn btn-success" %></h6>
      <h6><%= link_to 'Cancel request', change_status_path(status: 'Declined', id: booking), class: "btn btn-danger" %></h6>
      </div>
    </div>
    <% end %>
  </div>
</div>


