

    <h2>Trips:</h2>
    <br>
    <h3>You requested:</h3>

      <% @bookings.each do |booking| %>

      <p><strong>Listing: </strong><%= booking.apartment.name %> in <%= booking.apartment.city%></p>
      <p><strong>From: </strong>
        <%= booking.start_date %><strong> until: </strong>
        <%= booking.end_date %>
      </p>
      <p><strong>Number of nights: </strong><%= (booking.end_date - booking.start_date).to_i %></p>
    </p>
      <p>
        <strong>Total price: </strong>€<%= (booking.apartment.price * ((booking.end_date - booking.start_date).to_i))%>
      </p>

      <p>
        <strong>Status: </strong> <%= booking.status %>
      </p>
      <%= link_to 'See booking', apartment_booking_path(booking.apartment, booking), class: "btn btn-primary" %>

    <%= link_to 'Cancel request', change_status_path(status: 'Declined', id: booking), class: "btn btn-primary", style: "background-color: #ff5961;
  border-color: #ff5961; border-radius: 4px; margin: 10px 0;" %>
  </p>

<% end %>

