<div class="booking-container">
  <div class="row">
   <div class="col-xs-12 col-md-3 col-lg-3">
    <h3>Trips</h3>
    <% @bookings.each do |booking| %>

    <%= link_to apartment_path(booking.apartment) do %>


      <div class="card" style="background-image: url('<%= cl_image_path booking.apartment.photo, height: 300, width: 400, crop: :fill if booking.apartment.photo? %>')">
    </div>
        <% end %>

    <div class="card-description">
      <h5><%= booking.apartment.name %> in <%= booking.apartment.city%></h5>
      <h6><%= booking.start_date %> until <%= booking.end_date %></h6>
      <p> Number of nights: <%= (booking.end_date - booking.start_date).to_i %></p>
      <p> Total price: €<%= (booking.apartment.price * ((booking.end_date - booking.start_date).to_i))%></p>
      <h6>Status: <%= booking.status %></h6>
      <h6><%= link_to 'See booking', apartment_booking_path(booking.apartment, booking), class: "btn btn-primary" %></h6>
      <h6><%= link_to 'Cancel request', change_status_path(status: 'Declined', id: booking), class: "btn btn-primary", style: "background-color: #ff5961;
        border-color: #ff5961; border-radius: 4px; margin: 10px 0;" %></h6>
        <% end %>
      </div>
    </div>
  </div>
</div>


