
<h4 class="text-center">Check the apartments available</h4>
<div class="main-container">
  <div class="row">
    <% @apartments.each do |apartment| %>
    <div class="col-xs-12 col-sm-4">
    <%= apartment.name %>
      <div class="card" style="background-image: url('<%= cl_image_path apartment.photo, height: 300, width: 400, crop: :fill if apartment.photo? %>')">
      </div>
          <p>Description: <%= apartment.description %></p>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <div class="card-link"><%= link_to " ", apartment_path(apartment) %></div>
      <p><%= apartment.apartment_type %></p>
      <p>Price per night:<%= apartment.price %> Beds:<%= apartment.number_of_beds %></p>
    </div>
  <% end %>
  </div>

  <div id="map" style="width: 100%; height: 600px;"></div>
</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

