<h1>This apartment</h1>

<h2><%= @apartment.name %></h2>
  <p><%= @apartment.description %></p>
  <p><%= @apartment.apartment_type %></p>
  <p><%= @apartment.price %></p>
  <p><%= @apartment.number_of_guests %></p>
  <p><%= @apartment.number_of_beds %></p>
  <p><%= @apartment.number_of_bedrooms %></p>
  <p><%= @apartment.number_of_bathrooms %></p>
  <p><%= @apartment.checkin_time  %></p>
  <p><%= @apartment.checkout_time %></p>
<!-- more atributes of the apartments -->
