
<div class="flat-banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%);">
</div>

<div class="profile-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="profile">
          <!-- Inject flat data in template -->
        <div class="profile-box">
          <p><%= @apartment.name %></p>
          <%= cl_image_tag @apartment.photo, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="profile-description">
            <h1><%= @apartment.description %></h1>
            <p><%= @apartment.city %></p>


          </div>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-4">
        <%= simple_form_for [@apartment, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, method: :post %>
      <% end %>

      </div>



      <!-- <div class="col-xs-12 col-sm-6">
        <form action="/apartments/{apartment_id}/bookings/create">
          <h4>Book this flat</h4>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="checkin" id="checkin">
              </div>
            </div>
          <div class="form-group">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout" id="checkout">
              </div>
              </div>
          </div>
          <div class="form-group">
            <select name id="guests" class="form-group choose">
              <option value="1">1 guest</option>
              <option value="2">2 guest</option>
              <option value="3">3 guest</option>
            </select>
          </div>
          <input type="submit" class="btn btn-danger" value="Book it">
        </form>
      </div> -->
  </div>
</div>

<div class="info-container">
  <h2>About this place</h2>
   <p><%= @apartment.description %></p>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        The Space
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul class="list-unstyled">
          <li>Accommodates: <strong><%= @apartment.apartment_type %></strong></li>
          <li>Bathrooms: <strong><%= @apartment.number_of_bathrooms %></strong></li>
          <li>Beds: <strong><%= @apartment.number_of_beds %></strong></li>
        </ul>
      </div>
       <div class="col-xs-12 col-sm-4">
        <ul class="list-unstyled">
          <li>Property type: <strong></strong></li>
          <li>Bedrooms: <strong><%= @apartment.number_of_bedrooms %></strong></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        Amenities
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul class="list-unstyled">
          <li>Wifi: <strong></strong></li>
          <li>Welcome drink: <strong></strong></li>
        </ul>
      </div>
       <div class="col-xs-12 col-sm-4">
        <ul class="list-unstyled">
          <li>TV: <strong></strong></li>
          <li>Kitchen: <strong></strong></li>
        </ul>
      </div>



    </div>
      <h4>Show ratings of this apartment:</h4>
      <% @apartment.reviews.each do |review| %>

      <%= review.rating %>
      <%= review.content %>

      <% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates.to_json %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
<!-- more atributes of the apartments -->




