<div class="banner" style="background-image: url('<%= cl_image_path @apartment.photo %>');">
</div>

<div class="container" style="padding: 15px;">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="profile">

          <!-- Inject flat data in template -->
        <div class="profile-box">
          <%= cl_image_tag @apartment.photo, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="profile-description">
          <h2><strong><%= @apartment.name %></strong></h2>
            <h4><%= @apartment.city %>, <%= @apartment.country %></h4>
            <p><strong>€<%= @apartment.price %></strong> per night</p>
            <p><%= @apartment.description %></p>



        <p><strong>€<%= @apartment.price %></strong> per night</p>


        <ul class="list-inline" style="margin-top: 15px;">
          <li>By <%= @apartment.user.profile %></li>
          <li>In <%= @apartment.city%>,</li>
          <li><%=@apartment.country%></li>
        </ul>
        <h1><%= @apartment.name %></h1>

        <ul class="list-inline" style="margin-left: 0px;">
          <li><i class="fa fa-home" aria-hidden="true"> </i><%= @apartment.apartment_type%></li>
          <li><i class="fa fa-users" aria-hidden="true"></i> <strong><%= @apartment.number_of_guests %></strong> guests</li>
          <li><i class="fa fa-bath" aria-hidden="true"></i> <strong><%= @apartment.number_of_bathrooms %></strong> Bathrooms</li>
          <li><i class="fa fa-bed" aria-hidden="true"></i> <strong><%= @apartment.number_of_beds %></strong> Beds</li>
          <li><strong><%= @apartment.number_of_bedrooms %></strong> Bedrooms</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 bookbox">
      <%= simple_form_for [@apartment, @booking] do |f| %>
      <%= f.input :start_date, label: 'Start date' %>
      <%= f.input :end_date, label: "End date" %>
      <%= f.button :submit, method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 info-container">
     <hr>
     <h2>About</h2>
     <p><%= @apartment.description %></p>
   </div>
</div>

   <hr>
   <h3>Amenities</h3>
   <div class="row">
    <div class="col-xs-12 col-sm-4">
      <ul class="list-unstyled">
        <li><i class="fa fa-wifi" aria-hidden="true"></i> <strong></strong></li>
        <li><i class="fa fa-glass" aria-hidden="true"></i><strong></strong></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4">
      <ul class="list-unstyled">
        <li><i class="fa fa-television" aria-hidden="true"></i><strong></strong></li>
        <li>Kitchen: <strong></strong></li>
      </ul>
    </div>
  </div>

  <h4>Show ratings of this apartment:</h4>
  <% @apartment.reviews.each do |review| %>

  <%= review.rating %>
  <%= review.content %>

  <% end %>
</div>


    <h4>Show ratings of this apartment:</h4>
    <% if @apartment.reviews.blank? %>
    <p>Be the first to leave a review!</p>
    <% else %>
    <% @apartment.reviews.each do |review| %>

    <%= review.rating %>
    <%= review.content %>
    <% end %>
    <% end %>
  </div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var coord = <%= raw @flat_coordinates.to_json %>;
alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
});
<% end %>
<% end %>

<!-- more atributes of the apartments -->




